---
layout: home
---

<section id="about">
    <div class="container">
        <div class="title">
            <h3><strong>WinSCP</strong></h3>
            <h5>WinSCP PowerShell Wrapper Module</h5>
            {% capture build_status %}{% include appveyor.md %}{% endcapture %}
            {{ build_status | markdownify }}
        </div>
        <hr />
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="blogpost">
                    This is a comprehensive collection of PowerShell cmdlets that interface with the <strong><a href="http://winscp.net">WinSCP</a></strong> .net library. 
                    It was designed to give the user the feeling of native Windows PowerShell when interfacing with <strong><a href="http://winscp.net">WinSCP</a></strong>.<br />
                    <br />
                    This module can be installed from the <strong><a href="https://www.powershellgallery.com/packages/WinSCP">PowerShell Gallery</a></strong>.  
                    You will need <strong><a href="https://www.microsoft.com/en-us/download/details.aspx?id=50395">Windows Management Framework 5</a></strong> to install modules and scripts from the gallery.<br />
                    <br />
                    {% capture install_module %}{% include install.md %}{% endcapture %}
                    {{ install_module | markdownify }}
                    <br />
                    After installing and importing the module, create a <strong><a href="http://winscp.net/eng/docs/library_session">WinSCP.Session</a></strong> using the 
                    <strong><a href="{{ site.url }}/New-WinSCPSession.html">New-WinSCPSession</a></strong> cmdlet to get started. <br />
                    <br />
                    Visit the <strong><a href="{{ site.url }}/cmdlets">Cmdlet Reference</a></strong> to see usage and examples for all of the avaialbe <strong><a href="http://winscp.net">WinSCP</a></strong> cmdlets. <br />
                    <br />
                    <span style="text-align:center"> {% include share.html %} </span>
                </div>
            </div>
        </div>
	</div>
</section>